footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-beige);
    border-top: 1px solid var(--color-gray-1);
    .copyright {
        text-transform: uppercase;
        font-weight: 500;
        color: var(--color-dark-1);
        font-size: clamp(0.6rem, 3vw, 0.9rem);
    }
}