header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.role {
  width: 100%;
  line-height: 0.9;
  display: flex;
  h2 {
    color: var(--color-black);
    text-align: left;
    width: 70%;
  }
}

.coverPhoto {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  img {
    width: 50%;
  }
}

.blurb {
  display: flex;
  justify-content: center;
  flex: 1;
  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0;
    width: 300px;
    text-align: right;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.headerMainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  gap: 1.5rem;
  flex-direction: column-reverse;
  margin-top: 75px;
}

.logo {
  border: 2px solid var(--color-black);
  padding: 0.3rem;
  a {
    color: var(--color-black);
    font-family: var(--ff-heading), serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    top: 5px;
  }
}

.scrollDownIcon {
  cursor: pointer;
  transition: 0.3s;
}

.scrollDownIcon:hover {
  transform: scale(0.8);
}

h1 {
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 1s ease;
}

@media screen and (max-width: 525px) {
  .headerContent {
    flex-direction: column-reverse;
  }
  .coverPhoto img {
    width: 100%;
  }
  h1,
  h2 {
    text-align: center;
  }
  .role h2 {
    text-align: center;
    width: 100%;
  }
  .scrollDownIcon {
    width: 2rem;
  }
}

@media screen and (max-width: 1250px) {
  .blurb span {
    display: none;
  }
}
