/* =========================
 * GENERAL (APPLIES TO ALL SECTIONS)
 * ======================== */

section {
    border-top: 2px solid var(--clr-darkgrey);
    padding: 5rem 0;
}

.sectionTitle {
    padding-bottom: 3rem;
}

/* =========================
 * ABOUT SECTION
 * ======================== */

.about {
    background-color: var(--clr-lightblack);
}

.aboutSection {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    @media screen and (max-width: 1125px) {
        flex-direction: column;
    }
}

// Intro text section

.introSubsection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button {
        align-self: center;
        margin-top: 1rem;
    }
}

// Skills/tools section

.skillsSubsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.skillsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    @include skillsTag;
}

/* =========================
 * PROJECTS SECTION
 * ======================== */

.projects {
    background-color: var(--clr-lighterblack);
}

.projectsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 2rem;
    grid-gap: 3rem;
    @media screen and (max-width: 1000px) {
        grid-template-columns: 100%;
    }
}

.hoverMsg {
    display: block;
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.projectScreenshot {
    display: none;
    @media screen and (max-width: 1000px) {
        display: block;
        border: 0.15rem solid var(--clr-lightgrey);
    }
}

.projectDemo {
    .projectVideo {
        width: 100%;
        border: 0.15rem solid var(--clr-lightgrey);
        filter: brightness(50%);
        transition: 0.3s;
        &:hover {
            filter: brightness(100%);
        }
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }
}

.projectLinks {
    margin-top: 3rem;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectToolsList {
    margin-top: 2rem;
    li {
        display: inline;
    }
}

.viewMore {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
}

.projectSummary {
    margin-top: 1rem;
}

/* =========================
 * CONTACT SECTION
 * ======================== */

.contact {
    background-color: var(--clr-lightblack);
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .smallCaps {
        padding-bottom: 1.5rem;
    }
}

.emailSocialsContainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 1125px) {
        width: 100%;
    }
}

.contactFormContainer {
    width: 50%;
    @media screen and (max-width: 1125px) {
        width: 100%;
    }
}

.contactSection {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    @media screen and (max-width: 1125px) {
        flex-direction: column;
    }
}

// Email copy to clipboard (adapted from https://codepen.io/imjuangarcia/pen/xxRaqMZ)

.clickToCopyContainer {
    position: relative;
}

.clickToCopyBtn, .clickToCopyBackup {
    font-family: var(--ff-heading), serif;
    font-size: clamp(0.5rem, 9vw, 2.7rem);
    line-height: 3.2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--clr-white);
    border: none;
    font-weight: 400;
    &:hover {
        color: var(--clr-accent);
    }
}

.clickToCopyBtn + span {
    display: none;
    margin-left: 1rem;
    background: var(--clr-lighterblack);
    padding: .5rem;
    border-radius: .2rem;
    position: absolute;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 400;
    color: var(--clr-accent);
    width: 80px;
    top: 0.5rem;
}

.clickToCopyBtn + span:after {
    left: -18px;
    bottom: 25%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(218, 218, 218, 0);
    border-right-color: var(--clr-lighterblack);
    border-width: 10px;
    margin-top: -5px;
}

.clickToCopyBtn.isCopied + span {
    display: initial;
}

.clickToCopyBackup {
    display: none;
}

@media screen and (max-width: 1400px) {

    .clickToCopyBtn {
        display: none;
    }

    .clickToCopyBackup {
        display: block;
    }
}

// Socials
 
.socialLinks {
    display: flex;
    gap: 2rem;
}


.socialIcon {
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid var(--clr-darkgrey);
    border-radius: 50%;
    color: var(--clr-white);
    transition: 0.3s;
    &:hover,
    &:focus{
        border-color: var(--clr-accent);
        color: var(--clr-accent);
        transform: scale(1.2)
    }
}
