/* =========================
 * GENERAL (APPLIES TO ALL SECTIONS)
 * ======================== */

section {
    border-top: 2px solid var(--clr-darkgrey);
    padding: 5rem 0;
}

.sectionTitle {
    padding-bottom: 3rem;
}

/* =========================
 * ABOUT SECTION
 * ======================== */

.about {
    background-color: var(--clr-lightblack);
}

.aboutSection {
    display: flex;
    gap: 4rem;
}

// Intro text section

.introSubsection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button {
        align-self: center;
        margin-top: 1rem;
    }
    h4 {
        font-family: var(--ff-body), serif;
        font-size: clamp(0.5rem, 9vw, 1.5rem);
        font-weight: 400;
    }
}

// Skills/tools section

.skillsSubsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.skillsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    .skill {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.6rem;
        border: 2px solid var(--clr-accent);
        background-color: var(--clr-accent);
        color: var(--clr-lightblack);
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 50px;
    }
}

/* =========================
 * PROJECTS SECTION
 * ======================== */

 .projects {
     background-color: var(--clr-lighterblack);
 }

 .projectContainer {
    display: flex;
    .projectDetails {
        flex: 1;
    }
    .projectPhoto {
        flex: 2;
    }
 }

/* =========================
 * CONTACT SECTION
 * ======================== */

.contact {
    background-color: var(--clr-lightblack);
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .smallCaps {
        padding-bottom: 1.2rem;
    }
}



.emailSocialsContainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    @media (min-width: 1125px) {
        width: 50%;
    }
}

.contactFormContainer {
    width: 100%;
    @media (min-width: 1125px) {
        width: 50%;
    }
}

.contactSection {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    @media (min-width: 1125px) {
        flex-direction: row;
    }
}

// Email & Socials section

.socialLinks {
    display: flex;
    gap: 2rem;
}

.email {
    font-family: var(--ff-heading), serif;
    font-size: clamp(0.5rem, 9vw, 2.7rem);
    line-height: 3.2rem;
}
 
.socialIcon {
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid var(--clr-darkgrey);
    border-radius: 50%;
    color: var(--clr-white);
    transition: 0.3s;
    &:hover{
        color:var(--clr-accent);
    }
}

//  Form section

.contactForm {
    display: flex;
    flex-direction: column;
    .submitBtn {
        align-self: center;
        margin-top: 1rem;
    }
    .textInput,
    textarea {
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--clr-darkgrey);
        margin-bottom: 1rem;
        padding: 0.5rem 0.25rem;
        color: var(--clr-white);
    }
    .formLabel {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6rem;
        color: var(--clr-darkgrey);
    }
}