@mixin borderButtonStyle {
    font-family: var(--ff-body), sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.6rem;
    border: 2px solid var(--color-dark-3);
    cursor: pointer;
    background-color: transparent;
    color: var(--color-dark-3);
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    transition: 0.3s;
    &:hover {
        border: 2px solid var(--color-dark-4);
        background-color: var(--color-dark-4);
        color: var(--color-light-3)
    }
}

@mixin linkStyle {
    text-transform: uppercase;
    color: var(--color-dark-3);
    font-weight: 700;
    line-height: 2rem;
}

@mixin skillsTag {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.6rem;
    border: 2px solid var(--color-dark-4);
    background-color: var(--color-dark-4);
    color: var(--color-light-2);
    text-align: center;
    padding: 0.4rem 0.7rem;
    border-radius: 25px;
}