/* =========================
 * Imports
 * ======================== */

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Regular.otf'),
    url('../assets/fonts/butler/Butler.woff'),
    url('../assets/fonts/butler/Butler.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Light.otf'),
        url('../assets/fonts/butler/Butler-Light.woff'),
        url('../assets/fonts/butler/Butler-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Ultra_Light.otf'),
        url('../assets/fonts/butler/Butler-UltraLight.woff'),
        url('../assets/fonts/butler/Butler-UltraLight.woff2');
    font-weight: 200;
    font-style: normal;
}

/* =========================
 * General
 * ======================== */

html {
    font-size: 125%;
}

body {
    font-family: var(--ff-body), sans-serif;
    background-color: var(--color-light-4);
    color: var(--color-dark-3);
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* =========================
 * Headers and paragraphs
 * ======================== */

h1,
h3 {
    font-family: var(--ff-heading), serif;
    text-transform: uppercase;
    font-weight: 250;
}

h4,
h5,
h6 {
    font-family: var(--ff-body), sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    font-size: clamp(4.5rem,13vw,8.5rem);
    font-weight: 250;
    letter-spacing: -2px;
    line-height: 1;
}

h2 {
    font-family: var(--ff-body), sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: clamp(2.4rem, 5vw, 4.3rem);
}

h4 {
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 400;
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

/* =========================
 * Links & buttons
 * ======================== */

 .button, .submitBtn {
    @include borderButtonStyle;
 }

 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
 }

 /* =========================
 * For specific design purpose
 * ======================== */

//  To introduce a topic
.smallCaps {
    font-family: var(--ff-body), sans-serif;
    text-transform: uppercase;
    color: var(--color-gray-1);
    font-weight: 600;
    font-size: 0.6rem;;
    line-height: 0.8rem;
    letter-spacing: 2px;
}

// Accent text
.accentText {
    font-family: var(--ff-body), sans-serif;
    color: var(--color-dark-4);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6rem;
}
