/* =========================
 * Imports
 * ======================== */

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Regular.otf'),
    url('../assets/fonts/butler/Butler.woff'),
    url('../assets/fonts/butler/Butler.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Light.otf'),
        url('../assets/fonts/butler/Butler-Light.woff'),
        url('../assets/fonts/butler/Butler-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url('../assets/fonts/butler/Butler_Ultra_Light.otf'),
        url('../assets/fonts/butler/Butler-UltraLight.woff'),
        url('../assets/fonts/butler/Butler-UltraLight.woff2');
    font-weight: 200;
    font-style: normal;
}

/* =========================
 * General
 * ======================== */

html {
    font-size: 125%;
}

body {
    font-family: var(--ff-body), sans-serif;
    background-color: var(--color-light-4);
    color: var(--color-dark-3);
    font-weight: 300;
}

/* =========================
 * Headers and paragraphs
 * ======================== */

h1,
h3 {
    font-family: var(--ff-heading), serif;
    text-transform: uppercase;
    font-weight: 250;
}

.logo,
h2,
h4,
h5,
h6 {
    font-family: var(--ff-body), sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: clamp(4rem, 9vw, 8.5rem);
    font-weight: 250;
    letter-spacing: 0.5rem;
}

h2 {
    font-size: clamp(0.8rem, 5vw, 1.5rem);
}

h3 {
    font-size: clamp(3rem, 9vw, 4.3rem);
}

h4 {
    font-size: clamp(0.5rem, 9vw, 1.5rem);
    font-weight: 400;
}

/* =========================
 * Links & buttons
 * ======================== */

 .button, .submitBtn {
    @include borderButtonStyle;
 }

 /* =========================
 * For specific design purpose
 * ======================== */

//  To introduce a topic
.smallCaps {
    font-family: var(--ff-body), sans-serif;
    text-transform: uppercase;
    color: var(--color-dark-3);
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 0.8rem;
    letter-spacing: 2px;
}

// Accent text
.accentText {
    font-family: var(--ff-body), sans-serif;
    color: var(--color-dark-4);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
