:root {
  --color-black: #333333;
  --color-beige: #f7f6f3;
  --color-white: #ffffff;
  --color-gray-1: #888888;
  --color-gray-2: #f4f4f4;

  /* Typography */
  --ff-body: 'Inter';
  --ff-heading: 'Lato';
}
