:root {
    --clr-white: #FFFFFF;
    --clr-black: #1B1A18;
    --clr-lightblack: #20211F;
    --clr-lighterblack: #313130;
    --clr-accent: #FDF9CF;
    --clr-lightgrey: #CCCCCC;
    --clr-darkgrey: #888888;
    --clr-silver: #C0C0C0;

    /* Typography */
    --ff-body: 'Nunito Sans';
    --ff-heading: 'Butler';

    /* Sizes */

        
}